<nav class="navbar navbar-expand-lg navbar-light mb-4">
    <div class="container">
        <a class="navbar-brand" [routerLink]="['/']">
            <img class="brand"
                src="https://"
                alt="logo de freidoras"
                loading="lazy" title="logo">
        </a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="my-nav"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ml-auto mt-lg-0">
                <li class="nav-item ">
                    <a class="nav-link title" [routerLink]="['/']">⁜ Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link title" href="#" id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">⁜ Marcas</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" [routerLink]="['/freidora/Innsky-IS-AF002']">Innsky</a>
                        <a class="dropdown-item" [routerLink]="['/freidora/Ninja-Air-Fryer-MAX']">Ninja</a>
                        <a class="dropdown-item" [routerLink]="['/freidora/Philips-Airfryer-XXL-HD9652-90']">Philips</a>
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link title" [routerLink]="['/contacto']">⁜ Contacto</a>
                </li>
            </ul>
        </div>
    </div>
</nav>