<div class="container">
    <div class="btn-group" role="group" aria-label="Basic example">
        <a [routerLink]="['/']" class="btn btn-secondary">HOME</a>
        <a [routerLink]="['/sobre-nosotros']" class="btn btn-secondary">ABOUT</a>
        <a [routerLink]="['/contacto']" class="btn btn-secondary">CONTACT</a>
        <a [routerLink]="['/politica-de-cookies']" class="btn btn-secondary">COOKIES</a>
        <a [routerLink]="['/politica-de-privacidad']" class="btn btn-secondary">PRIVACY</a>
        <a [routerLink]="['/aviso-legal']" class="btn btn-secondary">LEGAL</a>
    </div>
</div>